@tailwind base;
@tailwind components;
@tailwind utilities;

title {
  @apply font-semibold;
}

body {
  @apply bg-background text-foreground antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-600 rounded;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}
